<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-internal-websocket-client.ZPM">
    <Module>
      <Name>iris-internal-websocket-client</Name>
      <Version>1.0.4</Version>
      <Description>Using %Net.WebSocket in IRIS</Description>
      <Keywords>Terminal, COS</Keywords>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
       <Resource Name="rcc.WS.PKG"/>
    </Module>
  </Document>
</Export>
